# IMPORT LIBRARY

In [2]:
import pandas as pd
import numpy as np
# Data Split
from sklearn.model_selection import train_test_split
# MinMaxScaler transformasi data
from sklearn.preprocessing import MinMaxScaler
# StandardScaler transformasi data
from sklearn.preprocessing import StandardScaler
# Menangani Nilai NULL
from sklearn.impute import SimpleImputer
# One-Hot Encoding
from sklearn.preprocessing import OneHotEncoder

# READ DATASET

In [4]:
dataset_split = pd.read_csv("car_price_prediction.csv")

In [7]:
dataset_split.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,04-May,Left wheel,Silver,4

# MELIHAT INFORMASI DATASET

In [5]:
dataset_split.dtypes

ID                   int64
Price                int64
Levy                object
Manufacturer        object
Model               object
Prod. year           int64
Category            object
Leather interior    object
Fuel type           object
Engine volume       object
Mileage             object
Cylinders            int64
Gear box type       object
Drive wheels        object
Doors               object
Wheel               object
Color               object
Airbags              int64
dtype: object

# MELIHAT RECORD DATASET

In [8]:
dataset_split.shape

(19237, 18)

# DATA SPLITTING

In [11]:
x = dataset_split.iloc[:,:-1]
y = dataset_split.iloc[:,-1]

## ALOKASI TRAINING SET KE 70:30

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [13]:
print("Dimensi X_train :", x_train.shape)
print("Dimensi X_test :", x_test.shape)
print("Dimensi y_train :", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train : (13465, 17)
Dimensi X_test : (5772, 17)
Dimensi y_train : (13465,)
Dimensi y_test :  (5772,)

# DATA TRANSFORMING

## NORMALISASI DATA

In [15]:
min_max_scaler = MinMaxScaler()

## MEMANGGIL DATASET COPY

In [32]:
dataset_split_copy = dataset_split.copy()

In [33]:
dataset_split_copy.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,04-May,Left wheel,Silver,4

In [35]:
x_norm = min_max_scaler.fit_transform(
    dataset_split_copy[['Cylinders']]
)

In [36]:
data_normalisasi = pd.DataFrame(x_norm)

## HASIL NORMALISASI

In [37]:
data_normalisasi.head()

          0
0  0.333333
1  0.333333
2  0.200000
3  0.200000
4  0.200000

# STANDARISASI DATA

In [38]:
dataset_standard_copy = dataset_split.copy()

In [39]:
np.std(dataset_standard_copy)

C:\Users\KYC\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

ID            936567.078993
Price         190576.316112
Prod. year         5.668526
Cylinders          1.199902
Airbags            4.320056
dtype: float64

In [24]:
standard_scaler = StandardScaler()

In [40]:
x_standard = standard_scaler.fit_transform(
    dataset_standard_copy[[
        'ID','Price','Prod. year','Cylinders','Airbags']]
)

## HASIL STANDARISASI

In [41]:
np.std(x_standard)

0.9999999999999999

In [42]:
data_standarisasi = pd.DataFrame(x_standard)

In [43]:
data_standarisasi.head()

          0         1         2         3         4
0  0.083141 -0.027432 -0.161034  1.180937  1.254005
1 -0.902262 -0.010153  0.015379  1.180937  0.328091
2  0.211286 -0.052939 -0.866685 -0.485866 -1.060780
3  0.205697 -0.078441  0.015379 -0.485866 -1.523737
4  0.248490 -0.035838  0.544617 -0.485866 -0.597823

# DATA CLEANING

## MENGECEK APAKAH TERDAPAT NILAI NULL

In [31]:
dataset_split.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             2
Cylinders           0
Gear box type       3
Drive wheels        2
Doors               2
Wheel               4
Color               0
Airbags             0
dtype: int64

## MELIHAT SEMUA KOLOM DAN BARIS YANG RUSAK

In [44]:
dataset_split_rusak[dataset_split_rusak.isnull().any(axis=1)]

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
6,45656768,1803,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4,Automatic,Front,04-May,NaN,White,12
10,45621750,941,1053,MERCEDES-BENZ,E 350,2014,Sedan,Yes,Diesel,3.5,184467 km,6,Automatic,NaN,04-May,Left wheel,White,12
11,45814819,8781,-,FORD,Transit,1999,Microbus,No,CNG,4,NaN,8,Manual,Rear,02-Mar,Left wheel,Blue,0
14,45732604,59464,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,76000 km,4,Automatic,Front,NaN,Left wheel,White,4
15,45465200,549,1079,TOYOTA,CHR,2018,Jeep,Yes,Petrol,2,74146 km,4,NaN,Front,04-May,Left wheel,White,12
17,45797221,28382,810,HYUNDAI,Elantra,2016,Sedan,Yes,Petrol,1.8,NaN,4,Automatic,Front,04-May,Left wheel,White,4
19,45653306,941,1850,LEXUS,RX 400,2008,Jeep,Yes,Hybrid,3.5,364523 km,6,NaN,4x4,04-May,Left wheel,Black,12
816,45765229,862,259,CHEVROLET,Volt,2014,Jeep,Yes,Hybrid,1.4,133195 km,4,Automatic,Front,04-May,NaN,Black,0
822,45802666,37580,765,HYUNDAI,Santa FE,2015,Jeep,Yes,Diesel,2,95200 km,4,Automatic,Front,04-May,NaN,Grey,4
824,45656394,6429,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,396350 km,4,Automatic,NaN,04-May,Left wheel,Black,12
826,45732700,15681,891,HYUNDAI,Sonata,2016,Sedan,Yes,LPG,2,195432 km,4,NaN,Front,04-May,Left wheel,Silver,4
827,44527023,16308,-,VOLKSWAGEN,Jetta,2013,Sedan,No,Petrol,2,94400 km,4,Tiptronic,Front,04-May,NaN,Black,8
829,45766759,30000,-,NISSAN,X-Trail,2018,Pickup,Yes,Petrol,2.5,18794 km,12,Automatic,4x4,NaN,Left wheel,Black,12

## MENGGANTI NILAI NULL KOLOM DENGAN MOST FREQUENT

In [62]:
imputer = SimpleImputer(strategy='most_frequent')

## MEMPERBAIKI KOLOM MILEAGE, GEAR BOX TYPE, DRIVE WHEELS, DOORS, WHEEL

### MENAMPILKAN NILAI DATA NULL

In [73]:
dataset_split.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             2
Cylinders           0
Gear box type       3
Drive wheels        2
Doors               2
Wheel               4
Color               0
Airbags             0
dtype: int64

In [63]:
dataset_split_rusak['Mileage'] = imputer.fit_transform(dataset_split_rusak[['Mileage']])

In [64]:
dataset_split_rusak['Gear box type'] = imputer.fit_transform(dataset_split_rusak[['Gear box type']])

In [66]:
dataset_split_rusak['Drive wheels'] = imputer.fit_transform(dataset_split_rusak[['Drive wheels']])

In [68]:
dataset_split_rusak['Doors'] = imputer.fit_transform(dataset_split_rusak[['Doors']])

In [70]:
dataset_split_rusak['Wheel'] = imputer.fit_transform(dataset_split_rusak[['Wheel']])

### MENAMPILKAN HASIL SETELAH MEMPERBAIKI NILAI NULL

In [71]:
dataset_split_rusak.isna().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

### MENANGANI NILAI DUPLIKAT

In [75]:
dataset_split_rusak[dataset_split_rusak.duplicated()]

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
425,45815372,7840,-,MERCEDES-BENZ,E 200,1998,Sedan,No,CNG,2,180003 km,4,Manual,Rear,04-May,Left wheel,Black,4
1581,45815363,8781,-,TOYOTA,Ist,2002,Hatchback,No,Petrol,1.5,117000 km,4,Automatic,4x4,04-May,Right-hand drive,Red,4
1697,45732125,18503,-,TOYOTA,Prius,2010,Sedan,No,Petrol,1.8,162000 km,4,Automatic,Front,04-May,Left wheel,Grey,12
1972,45507765,20385,-,MERCEDES-BENZ,CLS 500,2005,Sedan,Yes,Petrol,5,230000 km,8,Tiptronic,Rear,04-May,Left wheel,Silver,10
2131,45815363,8781,-,TOYOTA,Ist,2002,Hatchback,No,Petrol,1.5,117000 km,4,Automatic,4x4,04-May,Right-hand drive,Red,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,45815465,2352,1273,LEXUS,IS 350,2015,Sedan,Yes,Petrol,3.5,80856 km,6,Automatic,4x4,04-May,Left wheel,Black,12
19137,45810466,15125,642,CHEVROLET,Orlando,2012,Jeep,Yes,Diesel,2,156834 km,4,Automatic,Front,04-May,Left wheel,Golden,4
19200,45725908,36065,640,MERCEDES-BENZ,CLA 250 AMG,2013,Sedan,Yes,Petrol,2.0 Turbo,68000 km,4,Tiptronic,Front,04-May,Left wheel,Red,12
19203,45761487,13485,645,TOYOTA,Prius,2011,Sedan,No,Hybrid,1.8,281600 km,6,Automatic,Front,04-May,Left wheel,Grey,8
19210,45732939,8311,642,HYUNDAI,Sonata,2012,Sedan,Yes,LPG,2,36545 km,4,Automatic,Front,04-May,Left wheel,White,4

In [76]:
dataset_split_rusak.drop_duplicates(inplace=True)

In [77]:
dataset_split_rusak[dataset_split_rusak.duplicated()]

Empty DataFrame
Columns: [ID, Price, Levy, Manufacturer, Model, Prod. year, Category, Leather interior, Fuel type, Engine volume, Mileage, Cylinders, Gear box type, Drive wheels, Doors, Wheel, Color, Airbags]
Index: []

In [78]:
dataset_split_rusak.duplicated().sum()

0

# MENGGANTI TIPE DATA

In [80]:
dataset_split_rusak.dtypes

ID                   int64
Price                int64
Levy                object
Manufacturer        object
Model               object
Prod. year           int64
Category            object
Leather interior    object
Fuel type           object
Engine volume       object
Mileage             object
Cylinders            int64
Gear box type       object
Drive wheels        object
Doors               object
Wheel               object
Color               object
Airbags              int64
dtype: object

In [82]:
dataset_split_rusak['Price'] = dataset_split_rusak['Price'].astype('float64')

In [83]:
dataset_split_rusak.dtypes

ID                    int64
Price               float64
Levy                 object
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders             int64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

# ONE HOT ENCODING

In [85]:
onehot_encoder = OneHotEncoder(sparse=False)

In [87]:
onehot = onehot_encoder.fit_transform(dataset_split_rusak[['Fuel type']])

In [90]:
df_onehot = pd.DataFrame(onehot)

In [91]:
dataset_split_rusak = dataset_split_rusak.join(df_onehot)

In [92]:
dataset_split_rusak.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,...,Wheel,Color,Airbags,0,1,2,3,4,5,6
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,...,Left wheel,Silver,12,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,...,Left wheel,Black,8,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,...,Right-hand drive,Black,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,...,Left wheel,White,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,...,Left wheel,Silver,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,45802912,39493.0,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,...,Left wheel,White,4,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,45656768,1803.0,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,...,Left wheel,White,12,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,45816158,549.0,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,...,Left wheel,Grey,12,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,45641395,1098.0,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,...,Left wheel,Black,12,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,45756839,26657.0,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,...,Left wheel,Silver,12,0.0,0.0,0.0,0.0,0.0,1.0,0.0